/dev/nvos	0666	system	system
/dev/nvrm	0666	system	system
/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/ov5650	0660	media	camera
/dev/ad5820	0660	media	camera
/dev/soc380	0660	media	camera
/dev/tegra_camera	0660	media	camera
/dev/tegra_avp	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_sema	0660	media media
/dev/tegra_mediaserver	0660	media	media
/dev/tegra_dc*	0660	system	system
/dev/nvhdcp0    0666    system  system
/dev/nvhdcp1    0666    system  system
/dev/nvhost-ctrl	0666	root	root
/dev/nvhost-display	0666	root	root
/dev/nvhost-dsi	0666	root	root
/dev/nvhost-gr2d	0666	root	root
/dev/nvhost-gr3d	0666	root	root
/dev/nvhost-isp	0666	root	root
/dev/nvhost-mpe	0666	root	root
/dev/nvhost-vi	0666	root	root
/dev/ttyACM*	0660	radio	system
/dev/ttyACM3	0660	radio	log
/dev/tf_driver  0666    system  system
/dev/ttyHS0	0664	radio	system
/dev/ttyHS1	0664	root	system
/dev/ttyHS2	0660	bluetooth	bluetooth
/dev/ion	0666	system	system
/dev/timerinfo	0444	system	system
